<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.nohjunho.barpass-public-publish</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/nohjunho/Library/CloudStorage/OneDrive-개인/Project/barpass_os_streamlit_v2_8502/publish_public.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>7</integer>
    <key>Minute</key>
    <integer>10</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/nohjunho/Library/CloudStorage/OneDrive-개인/Project/barpass_os_streamlit_v2_8502/public_publish.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/nohjunho/Library/CloudStorage/OneDrive-개인/Project/barpass_os_streamlit_v2_8502/public_publish.err.log</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
